<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EasyCRMDBEntities" connectionString="metadata=res://*/Domains.EasyCRMModel.csdl|res://*/Domains.EasyCRMModel.ssdl|res://*/Domains.EasyCRMModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TINE-PC\SQLEXPRESS;Initial Catalog=EasyCRMDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>