<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EasyCRMDBEntities" connectionString="metadata=res://*/Domains.EasyCRM.csdl|res://*/Domains.EasyCRM.ssdl|res://*/Domains.EasyCRM.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=TINE-PC\SQLEXPRESS;Initial Catalog=ApplicationServicesDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>